{% extends "content/base.html" %}
{% block title %}
	<title>{{ document_title }}</title>
{% endblock %}

{% block main %}

	{% load menu_tags %}
	<div class="topmenu">
		<div class="wrapper">
			<ul class="menu">
				{% main_menu %}
			</ul>
		</div>
	</div>
	{% if post %}
	<div class="fullpage_container">
		<div class="single_post_title_container">
			<div class="post_title_wrapper">
				<h2>{{ post.title }}</h2>
				<ul class="no_bullet inline">
					<li><small><i class="fa fa-pencil"></i> {{ post.author.get_full_name }} </small></li>
					<li><small><i class="fa fa-calendar"></i> {{ post.pub_date|date:'Y' }}</small></li>
				</ul>
			</div>
		</div>

		<div class="main_container">
			<div class="content_wrapper">
				{{ post.content|safe }}
			</div>
		</div>
	</div>
	{% endif %}
{% endblock main %}