.slabtexted .slabtext {
    display:inline-block;
    white-space:nowrap;
}
.slabtextinactive .slabtext {
    display:inline;
    white-space:normal;
    font-size:5em !important;
    font-weight: 700;
    text-transform: uppercase;
}
.slabtextdone .slabtext {
    display:block;
}

h1 .slabtext {
	font-weight: 700;
}