$modules: () !default;
@mixin load_module($name) {
	@if not index($modules, $name) {
		$modules: append($modules, $name);
		@content;
	}
}

@mixin clearfix {
	&:after, &:before {
		content: " ";
		display: block;
	}

	&:after {
		clear: both;
	}
}

%clearfix {
	@include clearfix;
}

@mixin vertical_align {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

%vertical_align {
	@include vertical_align;
}