<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="{% static 'content/css/homepage.css' %}">
</head>
<body>
	<div class="head-page">
		<div class="content-wrapper">
			<div class="image-wrapper">
				<img src="{% static 'content/img/author.jpg' %}" class="author-image">
			</div>
			<h1 class="author-name">Andry Widya Putra</h1>
			<h2 class="author-desc">Web Developer & Design</h2>
			<a href="#" class="button">Kick It</a>
		</div>
	</div>
</body>
</html>